<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0;}
      #map-canvas{
        height: 60%;
        margin: 20px;
      }
    </style>
    <!--<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz3ZJzghImC8_vAl5cYYewtQyjDY0V6oM">-->
      <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp">
    </script>
    <script type="text/javascript">
      
      var map;
      var geocoder;
      //initialize page
      function initialize() {
        var myLatlng = new google.maps.LatLng(38.945759,-92.335303);
        var mapOptions = {
          center: myLatlng,
          zoom: 11
        };
        //Initializes 
        map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
        geocoder = new google.maps.Geocoder();
        
        
        //Will be array of users' addresses to fill map with
        var locations = [
          ('5003 Commercial Drive Columbia, mo'),
          ('7600 Twin lake drive jefferson city, mo')
        ];
        var users=[];

        //Will populate the map with all users at certain time
        for(var i=0; i<2; i++)
        {
          users.push(convertToGeocoder(locations[i]));
        }
    }
      google.maps.event.addDomListener(window, 'load', initialize);



      function convertToGeocoder(address)
      {
        //var geocoder;
          geocoder.geocode({'address': address}, function(results, status){
          if(status == google.maps.GeocoderStatus.OK)
          {
            var marker = new google.maps.Marker({
              map:map,
              position: results[0].geometry.location
            });
            google.maps.event.addListener(marker, 'click', function(){
              infoWindow.open(map, marker);
              });
          }
          else
          {
            alert('Geocode was not sucessful: ' + status);
          }

          //return marker;
        });

      }
    </script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>
</html>