<div class="contain-to-grid sticky">
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Ride.Me</a></h1>
				</li>
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>
		
			<section class="top-bar-section">				
				<ul class="right">
					<li class="active"><a class="icon-home" href="#">Home</a></li>
					<li class=""><a class=" icon-search-2" href="#">Find Rides</a></li>
					<li class=""><a class="icon-help" href="#">FAQ</a></li>
					<li class=""><a href="#" data-reveal-id="myModal" class="icon-user">Sign Up</a></li>
				</ul>
			</section>
		</nav>
	</div>